<template>
  <b-button
    variant="green"
    class="d-flex align-items-center"
    :to="{ name: 'create-view' }"
  >
    <img src="@/assets/images/icons/add.svg" class="mr-0 mr-md-2" alt="Add" />
    <span class="d-none d-md-flex">
      {{ button }}
    </span>
  </b-button>
</template>

<script>
export default {
  name: "AddOfferButton",
  data() {
    return {
      button: "Создать объявление",
    };
  },
};
</script>