<template>
  <div class="location">
    <b-button variant="black" @click="$bvModal.show('locationModal')">
      <img
        src="@/assets/images/icons/map-marker.svg"
        alt="Marker"
        class="mr-2"
      />
      {{ locations.city }}
    </b-button>
    <b-modal id="locationModal" hide-header hide-footer>
      <div class="modal-popup">
        <div class="modal-body">
          <img src="@/assets/images/emojis/sad.png" alt="Sad emoji" />
          <div class="title">
            {{ title }}
          </div>
          <p class="text">
            {{ text }}
          </p>
          <b-button variant="green" @click="$bvModal.hide('locationModal')">
            {{ button }}
          </b-button>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "LocationButton",
  data() {
    return {
      title: "Пока доступен только один город",
      text: "Мы обновляем и дорабатываем систему каждый день",
      button: "Закрыть",
      locations: require("@/data/modules/locations"),
    };
  },
};
</script>