<template>
  <b-button variant="report">
    <img src="@/assets/images/icons/report.svg" alt="Report icon">
    {{ title }}
  </b-button>
</template>

<script>
export default {
  name: "ReportButton",
  props: ["offer"],
  data() {
    return ({
      title: "Пожаловаться",
    })
  }
}
</script>