<template>
  <div class="offers">
    <b-row cols="1" cols-sm="2" row-cols-lg="3" cols-xl="3">
      <b-col v-for="(item, index) in offers" :key="index" class="mb-4">
        <Card :offer="item" />
      </b-col>
    </b-row>
  </div>
</template>

<script>

const Card = () => import('@/components/offer/Card')


export default {
  name: 'Offers',
  components: { 
    Card
  },
  props: [
    'offers'
  ],
}
</script>