<template>
  <div class="d-flex">
    <a
      :href="item.url"
      target="_blank"
      v-for="(item, index) in socials"
      v-bind:key="index"
      class="mr-2"
    >
      <b-button :variant="item.class">
        <i :class="item.icon"></i>
      </b-button>
    </a>
  </div>
</template>

<script>
export default {
  name: "Socials",
  data() {
    return {
      socials: require("@/data/components/socials"),
    };
  },
};
</script>