<template>
  <div class="error">
    <b-alert show variant="danger">
      {{ title }}
    </b-alert>
  </div>
</template>

<script>
export default {
  name: "ErrorForm",
  props: ["title"],
};
</script>