<template>
  <div class="recovery">
    <router-link :to="{ name: 'main-view' }">
      {{ title }}
    </router-link>
  </div>
</template>

<script>
export default {
  name: "RecoveryForm",
  data() {
    return {
      title: "Забыли пароль? Восстановить",
    };
  },
};
</script>