<template>
  <div id="mapContainer" class="w-100 vh-100"></div>
</template>

<script>
import mapboxgl from "mapbox-gl";
import { mapState, mapGetters, mapActions } from "vuex";

export default {
  name: "Map",
  components: {
    mapboxgl,
  },
  data() {
    return {
      accessToken:
        "pk.eyJ1IjoibGl2ZWZvcm9uZCIsImEiOiJja2wyNTlvazcwNzEwMnFtbnphc3lpZWZoIn0.0V5-IC_8YE33D0bZW8YWAg",
    };
  },
  computed: {
    ...mapState({
      marks: (state) => state.marks.main,
    }),
  },
  methods: {
    ...mapActions({
      getMarks: "marks/main",
    }),
  },
  mounted: function () {
    this.getMarks();

    mapboxgl.accessToken = this.accessToken;

    var map = new mapboxgl.Map({
      container: "mapContainer",
      style: "mapbox://styles/liveforond/ckl2p57dg1elq17r1uoux51bw",
      center: [39.886999, 57.622455],
      zoom: 12.5,
    });

    map.on("idle", function () {
      map.resize();
    });

    setTimeout(() => {
      let array_mark = [];
      for (let i = 0; i < this.marks.length; i++) {
        array_mark[i] = new mapboxgl.Marker({ color: "#00af73" })
          .setLngLat([this.marks[i].location.longitude, this.marks[i].location.latitude])
          .setPopup(
            new mapboxgl.Popup({ offset: 25 }) // add popups
              .setHTML(
                '<div class="offer-popup">' +
                  '<img src="' + this.marks[i].imgUrl + '" alt="Offer image" />' +
                  '<div class="offer-popup-body">' +
                  '<span>' + this.marks[i].title + '</span>' +
                  '<a href="http://localhost:8081/offer/id' + this.marks[i].location.id + '" target="_blank"> Открыть объявление </a>' +
                  "</div>" +
                  "</div>"
              )
          )
          .addTo(map);
      i += 10;
      }
    },
    5000);
  },
};
</script>