<template>
  <div class="map-popup d-flex d-xl-none">
    <b-button variant="green" :to="{ name: 'map-view' }">
      <div class="d-flex align-items-center">
        <img
          :src="require('@/assets/images/icons/map-marker-light.svg')"
          class="mr-2"
          alt="Map icon"
        />
        {{ title }}
      </div>
    </b-button>
  </div>
</template>

<script>
export default {
  name: "MapPopup",
  data() {
    return {
      title: "На карте",
    };
  },
};
</script>