<template>
  <b-input-group>
    <b-form-input
      v-model="search"
      type="text"
      class="input input-wrapper"
      :placeholder="placeholder"
    ></b-form-input>
    <template #append>
      <b-button size="sm" text="Button" variant="green" @click="setSearch">
        <img
          :src="require('@/assets/images/icons/search.svg')"
          alt="Search icon"
        />
      </b-button>
    </template>
  </b-input-group>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      search: null,
      placeholder: "Поиск среди объявлений",
    };
  },
  methods: {
    setSearch: function () {
      this.$store.commit("SET_SEARCH", this.search);
    },
  },
};
</script>