<template>
  <div>
    <div class="title mb-3">
      {{ item.name }}
    </div>
    <div class="range">
        <b-form-input class="input input-wrapper" type="number" v-model="item.value.from" :placeholder="item.options.from"></b-form-input>
        <div class="line"></div>
        <b-form-input class="input input-wrapper" type="number" v-model="item.value.to" :placeholder="item.options.to"></b-form-input>
    </div>  
  </div>
</template>

<script>
export default {
  name: "Range",
  props: ['item']
}
</script>