<template>
  <div class="selector">
    <div class="title mb-3">
      {{ item.name }}
    </div>
    <div class="selector-wrapper">
      <treeselect 
        :limitText="count => `Выбрано ${count}`"
        :placeholder="item.placeholder"
        :multiple="item.multiple"
        :options="item.options"
        v-model="item.value"
        :searchable=false
        :limit="0"
      />
    </div>
  </div>
</template>

<script>

const Treeselect = () => import('@riophae/vue-treeselect')
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
  name: "Selector",
  props: ['item'],
  components: {
    Treeselect
  }
}
</script>