<template>
  <div class="premium-data mb-5">
    <p class="mb-4">
      Равным образом новая модель организационной деятельности представляет
      собой интересный эксперимент проверки направлений прогрессивного развития.
    </p>
    <b-row class="cards" cols="1" cols-md="2">
      <b-col v-for="(item, index) in types" :key="index">
        <b-button variant="card mb-4">
          <img :src="item.img" :alt="item.alt" />
          <div class="card-body">
            <h5 class="card-title">
              {{ item.title }}
            </h5>
            <p class="card-text">
              {{ item.text }}
            </p>
          </div>
        </b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: "SettingsPremium",
  data() {
    return {
      types: {
        free: {
          img: require("@/assets/images/account/free-type.svg"),
          alt: "Free icon",
          title: "Бесплатный",
          text: "С другой стороны рамки и место обучения сохранены.",
        },
        premium: {
          img: require("@/assets/images/account/premium-type.svg"),
          alt: "Premium icon",
          title: "Премиум",
          text: "С другой стороны рамки и место обучения сохранены.",
        },
      },
    };
  },
};
</script>