<template>
  <div class="secutiry-data mb-5">
    <b-row cols="1" cols-md="2">
      <b-col v-for="(item, index) in secutiry" :key="index" class="mb-4">
        <label class="input-wrapper-label mb-3"> {{ item.title }} </label>
        <b-form-input
          class="input-password input-wrapper"
          type="password"
          v-model="item.value"
        ></b-form-input>
      </b-col>
    </b-row>
    <b-button variant="green" class="mr-3"> Обновить пароль </b-button>
  </div>
</template>

<script>

import userService from '@/services/user.service'

export default {
  name: "SettingsSecurity",
  data() {
    return {
      secutiry: {
        old: {
          title: "Старый пароль",
          value: null,
        },
        new: {
          title: "Новый пароль",
          value: null,
        },
        test: {
          title: "Повторите новый пароль",
          value: null,
        },
      },
    };
  },
};
</script>