<template>
  <div class="page-sidebar">
    <perfect-scrollbar class="wrapper">
      <div class="promo">
        <h2>
          {{ text.title }}
        </h2>
        <div class="description">
          {{ text.description }}
        </div>
      </div>
      <div class="nav">
        <b-row cols="1">
          <b-col
            v-for="(section, index) in menu"
            :key="index"
            cols="12"
            class="mb-4"
          >
            <h4 class="mb-4">
              {{ section.name }}
            </h4>
            <b-nav>
              <b-nav-item
                v-for="(item, index) in section.items"
                :key="index"
                :to="{ hash: item.hash }"
                @click="scroll()"
              >
                <img :src="item.img" :alt="item.alt" class="mr-3" />
                {{ item.name }}
              </b-nav-item>
            </b-nav>
          </b-col>
        </b-row>
      </div>
    </perfect-scrollbar>
  </div>
</template>

<script>
export default {
  name: "SettingsSidebar",
  data() {
    return {
      menu: {
        main: {
          name: "Основное",
          items: {
            account: {
              url: "settings-view",
              hash: "#account",
              img: require("@/assets/images/icons/user.svg"),
              alt: "Account icon",
              name: "Данные аккаунта",
            },
            password: {
              url: "settings-view",
              hash: "#security",
              img: require("@/assets/images/icons/lock.svg"),
              alt: "Security icon",
              name: "Безопасность",
            },
            notification: {
              url: "settings-view",
              hash: "#notification",
              img: require("@/assets/images/icons/notification.svg"),
              alt: "Notification icon",
              name: "Уведомления",
            },
            help: {
              url: "settings-view",
              hash: "#support",
              img: require("@/assets/images/icons/support.svg"),
              alt: "Support icon",
              name: "Помощь",
            },
          },
        },
        help: {
          name: "Поддержать проект",
          items: {
            help: {
              url: "settings-view",
              hash: "#type",
              img: require("@/assets/images/icons/account.svg"),
              alt: "Type Account icon",
              name: "Изменить тип аккаунта",
            },
            donate: {
              url: "settings-view",
              hash: "#donate",
              img: require("@/assets/images/icons/developer.svg"),
              alt: "Donate icon",
              name: "Купить кофе разрабочтику",
            },
          },
        },
      },
    };
  },
  mounted() {
    this.scroll();
  },
  methods: {
    scroll: function () {
      if (window.location.hash === this.$route.hash) {
        const el = document.getElementById(this.$route.hash.slice(1));
        if (el) {
          window.scrollTo(0, el.offsetTop);
        }
      }
    },
  },
  props: ['text']
};
</script>