<template>
  <b-container fluid>
    <b-row>
      <Sidebar />
      <Header />
      <b-col col>
        <router-view/>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
const Header = () => import('@/components/Header')
const Sidebar = () => import('@/components/Sidebar')

export default {
  name: "MainLayout",
  components: {
    Header, Sidebar
  }
}
</script>