<template>
  <div id="app">
    <component :is="layout">
      <router-view/>
    </component>
  </div>
</template>

<script>

import EmptyLayout from "@/layouts/Empty"
import MainLayout from "@/layouts/Main"

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout)
    }
  },
  components: {
    EmptyLayout,
    MainLayout
  }
}
</script>