<template>
  <div>
    <swiper :options="options">
      <div
        class="swiper-slide w-100"
        v-for="(image, index) in images"
        :key="index"
      >
        <v-lazy-image :src="image" alt="Offer image" />
      </div>
      <div class="swiper-pagination" slot="pagination"></div>
    </swiper>
  </div>
</template>

<script>
export default {
  name: "Carousel",
  props: ["images"],
  data() {
    return {
      options: {
        lazy: true,
        pagination: {
          el: ".swiper-pagination",
        },
      },
    };
  },
};
</script>