<template>
  <b-row class="offer-house">
    <b-col class="wrapper">
      <div class="title">
        {{ title }}
      </div>
      <div class="items">
        <div class="item" v-for="(item, index) in house" :key="index">
          <div class="parameter" v-html="item.parameter"></div>
          <div class="value" v-html="item.value"></div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferHouse",
  props: ["house"],
  data() {
    return {
      title: "О доме",
    };
  },
};
</script>