<template>
  <b-row class="offer-name">
    <b-col cols="12" class="wrapper">
      <h1>{{ title }}</h1>
      <div class="address">
        {{ location }}
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferName",
  props: ["title", "location"],
};
</script>