<template>
  <b-row class="offer-prices">
    <b-col cols="12" class="wrapper">
      <div class="values">
        <div class="item">
          <div class="value green">
            {{ createValuePrice(prices.price, '₽') }}
          </div>
          <div class="title">
            {{ data.month }}
          </div>
        </div>
        <div class="item">
          <div class="value">
            {{ createValuePrice(prices.deposit, '₽') }}
          </div>
          <div class="title">
            {{ data.deposit }}
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  mame: "DataOffer",
  props: ["prices"],
  methods: {
    createValuePrice: function (value, currency) {
      return value + " " + currency;
    },
  },
  data() {
    return {
      data: {
        month: "В месяц",
        deposit: "Залог",
        commission: "Комиссия",
      },
    };
  },
};
</script>