<template>
  <b-row class="offer-region">
    <b-col class="wrapper">
      <div class="title">
        {{ title }}
      </div>
      <div class="rating">
        <b-form-rating v-model="rating.value" readonly></b-form-rating>
      </div>
      <p> {{ rating.votes + " " + rating.text }} </p>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferRegion",
  data() {
    return {
      title: "Рейтинг района",
      rating: {
        text: "голосов было принято и учтены в оценке рейтинга района",
        value: Math.floor(Math.random() * (5 - 1)) + 1,
        votes: Math.floor(Math.random() * (300 - 50)) + 50
      }
    };
  },
};
</script>