<template>
  <div>
    <div class="status" :class="type" v-if="type === 'good'">
      <img :src="require('@/assets/images/icons/star.svg')" alt="Good Status" />
      <span>
        Советуем
      </span>
    </div>
  </div>
</template>

<script>
export default {
  name: "cardStatus",
  props: ['type']
}
</script>