<template>
  <b-row class="offer-values">
    <b-col cols="12">
      <div class="wrapper">
        <b-row cols="2" cols-md="3">
          <b-col class="item">
            <div class="value">
              {{ values.area }}
            </div>
            <div class="title">Площадь</div>
          </b-col>
          <b-col class="item">
            <div class="value">
              {{ values.rooms }}
            </div>
            <div class="title">
              {{ floorType(values.rooms) }}
            </div>
          </b-col>
          <b-col class="item">
            <div class="value">
              {{ values.floor }}
            </div>
            <div class="title">Этаж</div>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
</template>

<script>
export default {
  name: "OfferValues",
  props: ["values"],
  methods: {
    floorType: function (value) {
      if (value % 10 == 1) return "Комната";
      if (value % 10 > 1 && value % 10 < 5) return "Комнаты";
      if (value % 10 >= 5) return "Комнат";
    },
  },
};
</script>