<template>
  <b-row class="smart-filters-page justify-content-center">
    <b-col class="wrapper-page wrapper-popup" cols="12" xl="8">
      <div class="navigation">
        <Location />
        <Output />
      </div>
      <Offers :offers="offers" :navigation="true" />
      <Pagination :pages="pages" type="smart" />
    </b-col>
    <Popup />
  </b-row>
</template>

<script>
import { mapState } from "vuex";

const Offers = () => import("@/components/Offers");
const Location = () => import("@/components/buttons/Location");
const Output = () => import("@/components/buttons/Output");
const Sidebar = () => import("@/components/smart/Sidebar");
const Popup = () => import("@/components/smart/Popup");
const Pagination = () => import("@/components/Pagination");

export default {
  name: "FavoritesView",
  components: {
    Offers,
    Sidebar,
    Popup,
    Location,
    Output,
    Pagination,
  },
  computed: {
    ...mapState({
      offers: (state) => state.offers.main,
      pages: (state) => state.pagination.main,
    }),
  }
};
</script>