<template>
  <b-row>
    <b-col class="wrapper-page wrapper-popup" cols="12" xl="8">
      <b-row>
        <!-- <b-col cols="12">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <Favorites class="mr-3" />
              <Location />
            </div>
            <AddOffer />
          </div>
        </b-col> -->
        <b-col class="my-3" cols="12">
          <Promo />
        </b-col>
        <b-col cols="12">
          <Groups />
        </b-col>
        <b-col class="my-3" cols="12">
          <Offers :offers="offers" />
          <Pagination :pages="pages" type="main" />
        </b-col>
      </b-row>
    </b-col>
    <b-col class="map half-map" cols="4">
      <Map />
    </b-col>
    <Popup />
  </b-row>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";

const Favorites = () => import("@/components/buttons/Favorites");
const Location = () => import("@/components/buttons/Location");
const AddOffer = () => import("@/components/buttons/AddOffer");
const Promo = () => import("@/components//Promo");
const Groups = () => import("@/components//Groups");
const Offers = () => import("@/components/Offers");
const Map = () => import("@/components/map/Map");
const Popup = () => import("@/components/map/Popup");
const Pagination = () => import("@/components/Pagination");

export default {
  name: "MainView",
  components: {
    Favorites,
    Location,
    AddOffer,
    Promo,
    Groups,
    Offers,
    Map,
    Popup,
    Pagination,
  },
  computed: {
    ...mapState({
      offers: (state) => state.offers.main,
      pages: (state) => state.pagination.main,
    }),
  },
  methods: {
    ...mapActions({
      getMainOffers: "offers/main",
      getCountPages: "pagination/main"
    }),
  },
  mounted() {
    this.getMainOffers({ num: 12, page: 0, filters: null });
    this.getCountPages();
  },
};
</script>
