<template>
  <b-row class="position-relative">
    <b-col cols="12" class="map full-map">
      <Map />
    </b-col>
    <b-col cols="12">
      <Menu />
    </b-col>
  </b-row>
</template>

<script>

const Map = () => import("@/components/map/Map");
const Menu = () => import("@/components/map/Menu");

export default {
  name: "MapView",
  components: {
    Map,
    Menu,
  } 
};
</script>
