<template>
  <b-row class="settings-page">
    <b-col cols="4" class="d-none d-xl-block">
      <Sidebar :text="text" />
    </b-col>
    <b-col class="wrapper-page" cols="12" xl="8">
      <b-row class="justify-content-center">
        <b-col class="content" cols="12" xl="8">
          <div id="account" class="account mb-4">
            <h2 class="title mb-4">
              {{ titles.account }}
            </h2>
            <Avatar />
            <Account />
          </div>
          <div id="secutiry" class="secutiry mb-4">
            <h2 class="title mb-4">
              {{ titles.secutiry }}
            </h2>
            <Secutiry />
          </div>
          <div id="notification" class="notification mb-4">
            <h2 class="title mb-4">
              {{ titles.notification }}
            </h2>
            <Notification />
          </div>
          <div id="support" class="support mb-4">
            <h2 class="title mb-4">
              {{ titles.support }}
            </h2>
            <Support />
          </div>
          <div id="premium" class="premium mb-4">
            <h2 class="title mb-4">
              {{ titles.premium }}
            </h2>
            <Premium />
          </div>
          <div id="donate" class="donate mb-4">
            <h2 class="title mb-4">
              {{ titles.donate }}
            </h2>
            <Donate />
          </div>
        </b-col>
        <b-col class="project" cols="12" xl="4">
          <Project />
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
const Sidebar = () => import("@/components/settings/Sidebar");
const Avatar = () => import("@/components/settings/Avatar");
const Account = () => import("@/components/settings/Account");
const Secutiry = () => import("@/components/settings/Secutiry");
const Notification = () => import("@/components/settings/Notification");
const Support = () => import("@/components/settings/Support");
const Premium = () => import("@/components/settings/Premium");
const Donate = () => import("@/components/settings/Donate");
const Project = () => import("@/components/settings/Project");

export default {
  name: "SettingsView",
  components: {
    Sidebar,
    Avatar,
    Account,
    Secutiry,
    Notification,
    Support,
    Premium,
    Donate,
    Project,
  },
  data() {
    return {
      titles: {
        account: "Данные аккаунта",
        secutiry: "Безопасность",
        notification: "Уведомления",
        support: "Помощь",
        premium: "Изменить тип аккаунта",
        donate: "Поддержать проект",
      },
      user: "",
      text: {
        title: "Настройки",
        description:
          "С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание форм развития.",
      },
    };
  },
};
</script>