<template>
  <b-row class="smart-filters-page">
    <b-col cols="4">
      <Sidebar />
    </b-col>
    <b-col class="wrapper-page wrapper-popup" cols="12" xl="8">
      <div class="navigation">
        <div class="d-flex">
          <Favorites class="mr-3" />
          <Location />
        </div>
        <Output />
      </div>
      <Offers :offers="offers" :navigation="true" />
      <Pagination :pages="pages" type="smart" />
    </b-col>
    <Popup />
  </b-row>
</template>

<script>
import { mapState } from "vuex";

const Offers = () => import("@/components/Offers");
const Favorites = () => import("@/components/buttons/Favorites");
const Location = () => import("@/components/buttons/Location");
const Output = () => import("@/components/buttons/Output");
const Sidebar = () => import("@/components/smart/Sidebar");
const Popup = () => import("@/components/smart/Popup");
const Pagination = () => import("@/components/Pagination");

export default {
  name: "SmartView",
  components: {
    Offers,
    Sidebar,
    Popup,
    Favorites,
    Location,
    Output,
    Pagination,
  },
  computed: {
    ...mapState({
      offers: (state) => state.offers.smart,
      pages: (state) => state.pagination.smart,
    }),
  }
};
</script>