/* 1. header */

.header {

  z-index: 60;

  background: rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.085);

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  margin-bottom: 0.25rem;

  .navbar {
    padding-left: 0;
    padding-right: 0;

    .logotype {
      width: 120px;
      max-width: 120px;
      min-width: 120px;
    }

    .header-actions {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .navbar-toggler {
  
      border: none;
      padding-right: 0;
    
      .hamburger {
        
        $bar-width: 25px;
        $bar-height: 3px;
        $bar-spacing: 8px;
      
        .menu-wrapper {
          width: $bar-width;
          height: $bar-height + $bar-spacing*2;
        }
      
        .hamburger-menu,
        .hamburger-menu:after,
        .hamburger-menu:before {
          width: $bar-width;
          height: $bar-height;
        }
      
        .hamburger-menu {
          position: relative;
          transform: translateY($bar-spacing);
          background: rgba(148, 158, 158, 1);
          transition: all 0ms 200ms;
          
          &.animate {
            background: rgba(255, 255, 255, 0); 
          }
        }
      
        .hamburger-menu:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: $bar-spacing;
          background: rgba(148, 158, 158, 1);
          transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      
        .hamburger-menu:after {
          content: "";
          position: absolute;
          left: 0;
          top: $bar-spacing;
          background: rgba(148, 158, 158, 1);
          transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      
        .hamburger-menu.animate:after {
          top: 0;
          transform: rotate(45deg);
          transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      
        .hamburger-menu.animate:before {
          bottom: 0;
          transform: rotate(-45deg);
          transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }

    .navbar-nav {
      margin-top: 20px;
      padding-top: 30px;

      padding-bottom: 15px;
  
      border: 1px solid rgba($color: $outline, $alpha: 0.75);
      border-width: 1px 0px 0px 0px;

      .title {
        color: $green;
        font-size: $font-size-text;
        margin-bottom: 1.5rem;
      }

      .nav-item {
        .nav-link {
          transition: $small-transition;
          color: $light-text;
          font-size: $font-size-text;

          margin-bottom: 1.5rem;
          margin-top: 0rem;
    
          &:hover {
            color: $light-hover-text;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@include media-breakpoint-up(md) {
  .header {
    display: none;
  }
}

/* 2. sidebar */

.sidebar {

  position: sticky;
  left: 0;
  top: 0;

  background: rgb(255, 255, 255);
  box-shadow: 2px -4px 10px rgba(0, 0, 0, 0.085);

  z-index: 50;
  
  height: 100vh;

  padding-left: 0px;
  padding-right: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .logotype {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    height: 100%;

    padding-right: 1rem;
    padding-left: 1rem;
    

    .navbar-nav {
      display: flex;
      flex-direction: column;

      .nav-link {
        margin: auto;
        margin-bottom: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        height: $wrapper-element-size;
        max-height: $wrapper-element-size;
        min-height: $wrapper-element-size;

        width: $wrapper-element-size;
        max-width: $wrapper-element-size;
        min-width: $wrapper-element-size;

        border-radius: $big-radius;
        transition: $medium-radius;
      }
    }

    .top-menu {

      .nav-link {
        &:hover {
          background: rgba($color: $green, $alpha: .1);
        }
      }

      .active {
        background: rgba($color: $green, $alpha: .1);  
    
        &:hover {
          background: rgba($color: $green, $alpha: .15);
        }
      }

      .setting-item {
        .nav-link {
          &:hover {
            background: $light-gray-background;
          }
        }
  
        .active {
          background: $light-gray-background;
        }
      }

      .logout-item {
        margin-bottom: 0;
        padding-bottom: 2rem;
      }
    }

    .b-avatar {
      margin-right: 0.5rem;

      width: $wrapper-element-size;
      max-width: $wrapper-element-size;
      min-width: $wrapper-element-size;

      height: $wrapper-element-size;
      max-height: $wrapper-element-size;
      min-height: $wrapper-element-size;

      margin: auto;
      margin-bottom: 1rem;
    }

    .rounded-circle {
      border-radius: 15px !important;
    }
  }
}

@include media-breakpoint-down(sm) {

  .sidebar {
    position: fixed;

    bottom: 0;
    top: inherit;

    height: auto;
    width: 100%;
    
    .logotype {
      display: none;
    }

    .navbar {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      width: 100%;

      .navbar-nav {
        flex-direction: row;
        justify-content: space-around;

        width: 100%;

        .nav-link {
          margin-top: 0.25rem;
          margin-bottom: 0.25rem;
        }
      }

      .bottom-menu {
        display: none;
      }
    }
  }
}

.page-sidebar {
  position: sticky;
  top: 0;

  .wrapper {
    background: rgb(255, 255, 255);
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.085);
  
    z-index: 45;
  
    padding-top: 45px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
  
    width: 100%;
    height: 100vh;

    h2 {
      margin-bottom: 1rem;
    }

    .description {
      line-height: $font-line-height-text;
      color: $light-text;
      margin-bottom: 1.5rem;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;

    .nav-item {
      display: flex;
      align-items: center;

      margin: 15px 0;

      img {
        width: 19px;
      }

      a {
        color: $light-text;
        padding: 0;

        &:hover {
          color: $light-hover-text;
        }
      }
    }
  }

  .buttons {
    bottom: 0px;

    padding-top: 15px;
    padding-bottom: 15px;

    button {
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    }
  }
}

@include media-breakpoint-down(lg) {
  .page-sidebar {
    display: none;
  }
}

/* 3. content */

/* promo */

.promo {
  .promo-body {
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  
    padding: 2.75rem 2rem;
  
    .title {
      font-weight: $medium-weight;
      font-size: 27px;
      line-height: 35px;
      color: rgb(18, 38, 61);
    }
  
    .text {
      line-height: 24px;
      color: rgba(33, 70, 112, 0.65);
      max-width: 400px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .promo {
    .promo-body {
      position: relative;
      padding: 1.75rem;
  
      &::after {
        content: '';
        display: block;
  
        width: 100%;
        height: 100%;
  
        position: absolute;
  
        left: 0;
        top: 0;

        background: rgba($color: #DDECFD, $alpha: 0.85);
      }

      .title,
      .text,
      .btn {
        position: relative;
        z-index: 40;
      }
    }
  }
}

/* groups */

.groups {
  .card {
    border-radius: $medium-radius;
    border-color: $outline;

    transition: $medium-transition;
    padding: 1.75rem 1.25rem;

    height: 100%;

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    }

    .card-body {
      position: relative;
      padding: 0;

      .title {
        margin-bottom: 1.85rem;  
        a {
          font-size: 1.4rem;
          font-weight: $regular-weight;
          color: rgb(0, 0, 0);
  
          &:hover {
            text-decoration: none;
          }
        }
      }

      .text {
        color: $light-text;
        font-size: $font-size-standart;
        margin-bottom: 0.5rem;
        max-width: 200px;
      }
      
      .value {
        color: rgb(0, 0, 0);
        font-weight: $medium-weight;
        font-size: 1.25rem;
      }

      .arrow {
        top: 0px;
        right: 0px;
      }
    }
  }

  .card-green {
    background: $green;
    border: none; 

    &:hover {
      background: $green-hover;
    }

    .card-body {

      .title {
        a {
          color: rgb(255, 255, 255);
        }
      }

      .text {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .cards {
    .card {
      .card-body {
        .title {
          margin-bottom: 1.5rem;  
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .cards {
    .card {
      .card-body {
        .title {
          margin-bottom: 1rem;  
        }
      }
    }
  }
}

/* offers */

.offers {

  .card {
    border-radius: $medium-radius;
    transition: $medium-transition;

    height: 100%;

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .card-header {
      padding: 0;
      background: none;
    }

    .card-body {
      padding: 0.5rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-actions {
        display: flex;
      }

      .title {
        a {
          color: rgb(0, 0, 0);
          font-size: 1.2rem;
          line-height: 150%;
          font-weight: $medium-weight;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .text {
        color: $light-text;
        font-size: $font-size-standart;
        line-height: 150%;
      }

      .value {
        font-size: 1.3rem;
        font-weight: $medium-weight;
      }
    }

    .status {
      padding: 0.5rem;

      display: flex;
      align-items: center;

      border-radius: 3px;

      position: absolute;
      top: 15px;
      right: 15px;

      z-index: 45;

      img {
        margin-right: 0.25rem;
      }
    }

    .good {
      background: #fff5ce;
      color: #796129;
    }

    .swiper-container {
      height: 230px;
      margin-bottom: 0;

      background: #f0f0f0;
      border-radius: $medium-radius $medium-radius 0 0;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }

      .swiper-pagination-bullet {
        opacity: 1;
        background: rgb(255, 255, 255);
      }
      
      .swiper-pagination-bullet-active {
        background: $green;
        opacity: 1;
      }
    }
  }
}

/* avatar */

.avatar {
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  .b-icon {
    width: 50%;
    color: rgba($color: $green, $alpha: .75);
  }
}

.badge-main {
  background: rgba($color: $green, $alpha: .1);
  text-decoration: none;

  .b-avatar-text {
    color: $green;
  }
}

.b-avatar {
  margin-right: 0.5rem;

  width: $wrapper-element-size;
  max-width: $wrapper-element-size;
  min-width: $wrapper-element-size;

  height: $wrapper-element-size;
  max-height: $wrapper-element-size;
  min-height: $wrapper-element-size;
}

.rounded-circle {
  border-radius: 15px !important;
}

/* modals */

.modal-popup {

  .modal-body {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem;

    img {
      margin-bottom: 1.5rem;
    }
    
    .title {
      font-weight: $medium-weight;
      text-align: center;
      line-height: 150%;
      font-size: 1.5rem;
  
      max-width: 230px;
  
      margin-bottom: 1.5rem;
    }
  
    .text {
      text-align: center;
      max-width: 290px;
      margin-bottom: 2rem;
    }
  }
}

/* map */

.map {
  position: sticky;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding: 0px;

  &:focus {
    outline: none;
  }

  .mapContainer {
    &:focus {
      outline: none;
    }
  }

  .mapboxgl-canvas {
    &:focus {
      outline: none;
    }
  }
}

.full-map {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

@include media-breakpoint-down(lg) {
  .half-map {
    display: none;
  }
}

/* map popup */

.map-popup {
  width: auto;
  margin: auto;

  position: fixed;

  bottom: 4rem;
  transform: translate(-17%, 0);

  left: 50%;

  z-index: 45;

  .btn {
    display: flex;
    align-items: center;
  }

  img {
    max-width: 18px;
    max-height: 18px;
  }
}

@include media-breakpoint-down(sm) {
  .map-popup {
    bottom: 7rem;
    transform: translate(-50%, 0);
  }
}

/* map menu */

.map-menu {
  margin-top: 6rem;
  left: 0;

  .map-menu-body {
    .input {
      border-radius: $medium-radius 0 0 $medium-radius;
    }
  }

  .map-filters {
    padding: 2rem 2rem;

    border: 1px solid $outline;
    border-radius: $medium-radius;

    background: rgb(255, 255, 255);
  }
}

@include media-breakpoint-down(md) {
  .map-menu {
    margin-top: 4rem;
    .map-filters {
      margin-bottom: 6rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .map-menu {
    margin-top: 1rem;
  }
}

/* filter */

.filters-page {
  .navigation {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
  }
}

/* smart */

.smart-filters-page {
  .navigation {
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
  }
}

.smart-filters {
  .title {
    display: flex;
    align-items: center;      
    margin-bottom: 1rem;
    font-size: 1.1rem;

    span {
      display: flex;
      justify-content: center;
      align-items: center;

      height: 40px;
      width: 40px;

      border: 1px solid $outline;
      border-radius: 100%;

      margin-right: 1rem;
    }
  }

  .description {
    line-height: $font-line-height-text;
    color: $light-text;
    margin-bottom: 1.5rem;
  }

  .item {
    margin-bottom: 2rem;

    .title {
      margin-bottom: 1.5rem;
      font-size: 1rem;
    }

    .description {
      color: $light-text;
      margin-bottom: 1.25rem;
      line-height: $font-line-height-text;
    }

    .vue-slider {
      .vue-slider-process {
        background-color: $green;
      }

      .vue-slider-dot-handle-focus {
        box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
      }

      .vue-slider-dot-tooltip-top {
        top: -5px;
      }

      .vue-slider-dot-tooltip-inner {
        background-color: $green;
        border-color: $green;
        border-radius: 2px;
        
        &::after {
          border-width: 3px;
        }
      }
    }
  }
}

.smart-filters-popup {
  .description {
    color: $light-text;
    line-height: $font-line-height-text;
    margin-bottom: 2rem;
  }
}

/* filter popup */

.filter-popup {
  width: auto;
  margin: auto;

  position: fixed;

  bottom: 4rem;
  transform: translate(-17%, 0);

  left: 50%;

  z-index: 45;

  .btn {
    display: flex;
    align-items: center;
  }

  img {
    max-width: 18px;
    max-height: 18px;
  }
}

@include media-breakpoint-down(sm) {
  .filter-popup {
    bottom: 7rem;
    transform: translate(-50%, 0);
  }
}

/* settings */ 

.settings-page {
  .content {
    .account {
      .account-image {

        background: $light-gray-background;
    
        border: 1px solid $outline;
        border-radius: $medium-radius;
    
        padding: 1.5rem;
    
        .b-avatar {
          height: 110px;
          max-height: 110px;
          min-height: 110px;
          
          width: 110px;
          max-width: 110px;
          min-width: 110px;
          
          border-radius: 100% !important;
    
          margin-right: 2rem;

          background: $outline;
        }
    
        .description {
          color: $light-text;
          line-height: $font-line-height-text;
        }
      }
    }
    .notification {
      .notification-data {
        border: 1px solid $outline;
        border-radius: $medium-radius;
        padding: 1rem 2rem;
      }
    }
  }

  .project {
    .project-data {
      padding: 2rem;

      background: $light-blue-background;
  
      border: 1px solid $light-blue-outline;
      border-radius: $medium-radius;
  
      color: $dark-blue-text;
      font-size: $font-size-standart;
      
      .text {
        line-height: $font-line-height-text;
      }
  
      .item {

        margin: 1rem 0;

        .title {
          color: $light-blue-text;
        }
      }
    }
  }
}

/* Page form */

.form {

  display: flex;

  align-items: center;
  justify-content: center;

  .form-wrapper {

    max-width: 475px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    border: 1px solid rgba($color: $outline, $alpha: 0.75);
    border-radius: $medium-radius;
  
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.025);
  
    padding: 3rem;
    
    margin-top: 3rem;
    margin-bottom: 3rem;
  
    .content {

      position: relative;

      display: flex;
      flex-direction: column;

      .input-wrapper-label {
        margin-bottom: 1rem;
      }

      .input-item {
        margin-bottom: 1.5rem;
      }

      .prompt {
        color: rgba($color: $light-text, $alpha: 0.6);
        font-size: 0.9rem;
        margin-top: 1rem;
      }

      .error {
        color: rgb(240, 80, 80);
        font-size: 0.9rem;
        margin-top: 1rem;
      }
  
      .arrow {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        
        text-decoration: none;
        transition: $medium-transition;
  
        color: $light-text;
  
        &:hover {
          color: $light-hover-text;
        }
        
        img {
          width: 20px;
          margin-right: 0.5rem;
        }
      }
  
      h1 {
        font-weight: $medium-weight;
        font-size: 1.7rem;
        margin-bottom: 2rem;
      }
      
      p {
        font-size: 1rem;
        margin-bottom: 2rem;
      }
  
      .recovery {
        margin-top: 1rem;
        margin-bottom: 2rem;

        text-align: center;
  
        a {
          color: $light-text;
  
          &:hover {
            color: $light-hover-text;
            text-decoration: none;
          }
        }
      }

      .error {
        .alert {
          padding: 1.25rem;
        }
      }

      .buttons {
        .btn {
          width: 100%;
        }
      }
  
      .loading {
        position: absolute;
    
        background: rgba(255, 255, 255, 0.75);
    
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .form {
    .form-wrapper {
      border: none;
      padding: 1rem;
    }
  }
}

/* offer */

.offer-page {
  .wrapper {
    .swiper-container {
      background: #f0f0f0;
      height: 500px;
  
      .swiper-pagination-bullet {
        opacity: 1;
        background: rgb(255, 255, 255);
      }
      
      .swiper-pagination-bullet-active {
        background: $green;
        opacity: 1;
      }
  
      img {
        height: 500px;
        max-height: 500px;
        min-height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .offer-name {

      margin-top: 2rem;

      h1 {
        font-weight: $medium-weight;
        font-size: 1.8rem;

        margin-bottom: 0.75rem;
      }

      .address {
        line-height: $font-line-height-text;
        margin-bottom: 1.5rem;
        color: $light-text;
      }
    }

    .offer-prices {

      margin-bottom: 1.5rem;

      .values {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .item {
          margin-right: 1.5rem;

          .value {
            font-weight: $medium-weight;
            margin-bottom: 0.3rem;
            font-size: 1.5rem;
          }

          .green {
            font-size: 1.75rem;
            color: $green;
          }

          .title {
            color: $light-text;
          }
        }
      }
    }

    .offer-contact {

      margin-bottom: 2rem;

      .wrapper {
        border: 1px solid $outline;
        border-radius: $small-radius;
      }

      .author {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem;

        .fields {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        img {
          border-radius: 100%;
          margin-bottom: 2rem;
        }

        .name {
          font-size: 1.3rem;
          font-weight: $medium-weight;
          margin-bottom: 1rem;
        }

        .description {
          color: $light-text;
          margin-bottom: 1rem;
        }

        .number {
          background: rgba($color: $green, $alpha: 0.1);
          color: $green;
    
          font-size: 1.1rem;
          letter-spacing: 0.05rem;
          text-align: center;
    
          border: 1px solid rgba($color: $green, $alpha: 0.15);
          border-radius: $small-radius;
          
          padding: 0.75rem;
        }
      }
         
      .actions {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 1.5rem 0rem;

        background: $light-gray-background;
        border: 1px solid $outline;
        border-width: 1px 0px 0px 0px;
        
        .main {
          display: flex;
          flex-direction: row;
          margin-bottom: 1rem;
        }
      }
    }

    .offer-values {
      .wrapper {
        margin-bottom: 2rem;
        padding: 1rem 2rem;

        background: rgba($color: $light-gray-background, $alpha: .03);

        border: 1px solid $outline;
        border-radius: $medium-radius;

        .item {
          text-align: center;
          margin-bottom: 1rem;
          margin-top: 1rem;

          .value {
            font-size: 1.5rem;
            font-weight: $medium-weight;

            margin-bottom: 0.5rem;

            color: $green;
          }

          .title {
            color: $light-text;
          }
        }
      }
    }

    .offer-description {
      
      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }
    }

    .offer-comfort {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .items {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .item {

          display: flex;
          align-items: center;
  
          border: 1px solid $outline;
          border-radius: $big-radius;
  
          background: rgb(255, 255, 255);
          color: $light-text;
  
          padding: 1rem 1.25rem;
  
          margin-right: 1rem;
          margin-bottom: 1rem;

          img {
            margin-right: 0.75rem;
          }
        }

      }
    }

    .offer-data {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .items {
        .item {
          display: flex;
          
          margin-bottom: 1rem;
  
          .parameter {
            width: 50%;
            color: $light-text;
          }
  
          .value {
            width: 50%;
          }
        }
      }

    }

    .offer-house {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      .items {
        .item {
          display: flex;
          
          margin-bottom: 1rem;
  
          .parameter {
            width: 50%;
            color: $light-text;
          }
  
          .value {
            width: 50%;
          }
        }
      }

    }

    .offer-region {

      margin-bottom: 2rem;

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .rating {

        margin-bottom: 1rem;

        .form-control {
          padding: 0rem;
          color: $orange;
          font-size: 1.25rem;
        }

        .b-rating {
          border: none;
          padding: none !important;

          .b-rating-star {
            justify-content: start;
            flex-grow: 0.05 !important;
            padding: 0;
          }
        }
      }
    }

    .offer-feedback {

      .title {
        font-weight: $medium-weight;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .item {
        margin-bottom: 1rem;

        img {
          margin-right: 1rem;
        }
      }

    }
  }
}

@include media-breakpoint-down(lg) {

  .offer-page {
    .wrapper {
      .swiper-container {
        height: 450px;

        img {
          height: 450px;
          max-height: 450px;
          min-height: 450px;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .offer-page {
    .wrapper {
      .swiper-container {
        height: 350px;

        img {
          height: 350px;
          max-height: 350px;
          min-height: 350px;
        }
      }

      .offer-contact {
        .author {
          flex-direction: row;
          justify-content: center;
          align-items: center;
  
          img {
            margin-right: 2rem;
            margin-bottom: 0;
          }
  
          .fields {
            align-items: flex-start;
          }
        }
      }

      .offer-comfort {
        .items {
          .item {
            border-radius: $medium-radius;
            padding: 1rem 0.5rem;
            margin-right: 0.5rem;
            margin-bottom: 0.75rem;
          }
        }
      }
  
    }
  }
}

@include media-breakpoint-down(sm) {
  .offer-page {
    .wrapper {
      .swiper-container {
        height: 320px ;

        img {
          height: 320px;
          max-height: 320px;
          min-height: 320px;
        }
      }

      .offer-contact {
        .author {
          flex-direction: column;
          justify-content: start;
          align-items: center;
  
          img {
            margin-right: 0;
            margin-bottom: 2rem;
          }
  
          .fields {
            align-items: center;
          }
        }
      }

      .offer-prices {
        .wrapper {
          .values {
            .item {
              .value {
                font-size: 1.3rem;
              }

              .green {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .offer-page {
    .wrapper {
      .offer-prices {
        .values {
          flex-direction: column;
          align-items: flex-start;

          .item {
            margin-right: 0;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}