/* Roboto */

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-BoldItalic.woff');
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
      url('~@/assets/fonts/Roboto/Roboto-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Bold.woff');
  src: local('Roboto Bold'), local('Roboto-Bold'),
      url('~@/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Italic.woff');
  src: local('Roboto Italic'), local('Roboto-Italic'),
      url('~@/assets/fonts/Roboto/Roboto-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Light.woff');
  src: local('Roboto Light'), local('Roboto-Light'),
      url('~@/assets/fonts/Roboto/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-LightItalic.woff');
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
      url('~@/assets/fonts/Roboto/Roboto-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Medium.woff');
  src: local('Roboto Medium'), local('Roboto-Medium'),
      url('~@/assets/fonts/Roboto/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.woff');
  src: local('Roboto'), local('Roboto-Regular'),
      url('~@/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-MediumItalic.woff');
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
      url('~@/assets/fonts/Roboto/Roboto-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Font Awesome */

@import '@/assets/fonts/Font Awesome/style.scss';

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("~@/assets/fonts/Font Awesome/fa-brands-400.woff") format("woff");
  src: url("~@/assets/fonts/Font Awesome/fa-brands-400.woff2") format("woff2"); }

.fab {
  font-family: 'Font Awesome 5 Brands';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("~@/assets/fonts/Font Awesome/fa-regular-400.woff") format("woff");
  src: url("~@/assets/fonts/Font Awesome/fa-regular-400.woff2") format("woff2"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url("~@/assets/fonts/Font Awesome/fa-solid-900.woff") format("woff");
  src: url("~@/assets/fonts/Font Awesome/fa-solid-900.woff2") format("woff2"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

