/* Grid system */
@import 'bootstrap/scss/bootstrap-grid.scss';

/* Main styles */

* {
  
  font-family: $font-family, sans-serif;
  line-height: $font-line-height-standart;

  &:focus-visible {
    border: none;
    outline: none;
  }
}