/* 1.1 colors */

/* 1.1.1 main color */

$green: rgb(0, 175, 115);
$green-hover: rgb(0, 160, 110);

/* 1.1.2 contrasting color color */

$orange: rgb(255, 120, 0);
$orange-hover: rgb(245, 105, 15);

/* 1.1.3 text color */

$light-text: rgb(140, 140, 140);
$light-hover-text: rgb(110, 110, 110);
$dark-blue-text: rgb(33, 70, 112);
$light-blue-text: rgb(140, 161, 184);

/* 1.1.4 outline color */

$outline: rgb(220, 220, 220);
$outline-hover: rgb(200, 200, 200);
$light-blue-outline: rgb(193, 205, 219);

/* 1.1.5 background */

$light-gray-background: rgba(0, 0, 0, 0.05);
$light-blue-background: rgb(247, 251, 255);

/* 1.2 values */

/* 1.2.1 transition */

$small-transition: 0.2s;
$medium-transition: 0.5s;
$big-transition: 1s;

/* 1.2.2 radius */

$small-radius: 3px;
$medium-radius: 6px;
$big-radius: 12px;
$full-radius: 25px;

/* 1.2.2 button */

/* 1.2.2.1 padding */

$medium-padding: 0.8rem 1.1rem;
$big-padding: 0.8rem 1.8rem;

/* 1.2.3 font */

/* 1.2.3.1 family */

$font-family: 'Roboto', 'Arial', sans-serif;

/* 1.2.3.2 size */

$font-size-standart: 1rem;
$font-size-text: 1.1rem;

/* 1.2.3.2 line-height */

$font-line-height-standart: 100%;
$font-line-height-text: 165%;
$font-line-height-input: 145%;

/* 1.2.3.2 weight */

$light-weight: 300;
$regular-weight: 400;
$medium-weight: 500;
$bold-weight: 600;

/* 1.2.4 wrapper-elements */

$wrapper-element-size: 55px;
$wrapper-mobile-element-size: 55px;